    
    <ul id="tabs" class="nav nav-tabs" *ngIf="!loginService.isAdmin">
        <li class="active"><a id="tab-0" (click)="setSelected(0)">Consumo y Comercio</a></li>
        <li><a href="#tab-1" id="tab-1" (click)="setSelected(1)">Cultura, Ocio y Deporte</a></li>
        <li><a href="#tab-2" id="tab-2" (click)="setSelected(2)">Educacion, Formación y Empleo</a></li>
        <li><a href="#tab-3" id="tab-3" (click)="setSelected(3)">Otros</a></li>
    </ul>
    
    <ul class="nav nav-tabs" *ngIf="loginService.isAdmin">
        <li class="active"><a (click)="setVisible(0)" id="tab-0">Carrousel</a></li>
        <li><a (click)="setVisible(1)" id="tab-1">Anuncios y noticias</a></li>
        <li><a href="#tab-2" id="tab-2">Permisos usuario</a></li>
        <li><a href="#tab-3" id="tab-3"></a></li>
    </ul>

    <div id="content" *ngIf="!loginService.isAdmin"> 
        <div id="tab1" *ngIf="selected == 0">
           <a>Solicitud de análisis de composición y calidad de alimentos, bebidas y otros productos</a><br>
           <a>Análisis de muestras de productos alimenticios en supuesto mal estado</a><br>
           <a>Solicitud de análisis de composición y calidad de alimentos, bebidas y otros productos</a> 
        </div>
        <div id="tab2" *ngIf="selected == 1">
            <a class="page-scroll portfolio-link" href="#modalCentroDeportivo" data-toggle="modal">Centros deportivos. Reserva, pago de servicios y consulta plazas en actividades dirigidas</a><br>
			<a>Reserva de Instalaciones Deportivas Municipales para el desarrollo de sus Programas de Deporte Adaptado dirigidos a Personas con Discapacidad</a>
        </div>
        <div id="tab3" *ngIf="selected == 2">
            
        </div>
        <div id="tab4" *ngIf="selected == 3">
        <a class="page-scroll portfolio-link" href="#modalPadron" data-toggle="modal">Padron Municipal</a><br>
        <a class="page-scroll portfolio-link" [routerLink]="['PropuestaList']">Iniciativa ciudadana</a>
			
        </div>
        <div class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modalPadron">
            <div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<!-- Project Details Go Here -->
                                <h2>Volante de Inscipicion Padronal</h2>								
                                <form class="form-horizontal">								    
									<div class="form-group">
                                        <label class="control-label col-xs-3">Distrito:</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" id="inputTitulo" placeholder="Distrito">
                                        </div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-3">Barrio:</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" placeholder="Barrio">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
										<label class="control-label col-xs-3">Nombre:</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" placeholder="Nombre">
                                        </div>
                                    </div>	
                                    <div class="form-group">
										<label class="control-label col-xs-3">Apellidos:</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" placeholder="Apellidos">
                                        </div>
                                    </div>	
                                    <div class="form-group">
										<label class="control-label col-xs-3">Dirección:</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" placeholder="Dirección">
                                        </div>
                                    </div>	
                                    <div class="form-group">
										<label class="control-label col-xs-3">DNI:</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" placeholder="DNI">
                                        </div>
                                    </div>	
                                    <div class="form-group">
                                        <label class="control-label col-xs-3">Genero:</label>
                                        <div class="col-xs-2">
                                            <label class="radio-inline">
                                                <input type="radio" name="genderRadios" value="male"> M
                                            </label>
                                        </div>
                                        <div class="col-xs-2">
                                            <label class="radio-inline">
                                                <input type="radio" name="genderRadios" value="female"> F
                                            </label>
                                        </div>
                                    </div>	
                                    <div class="form-group">
										<label class="control-label col-xs-3">Nacionalidad:</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" placeholder="Nacionalidad">
                                        </div>
                                    </div>
                                    <div class="form-group">
										<label class="control-label col-xs-3">Lugar de nacimiento:</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" placeholder="Lugar Nacimiento">
                                        </div>
                                    </div>														
									<div class="form-group">
                                        <label class="control-label col-xs-3">F. de Nacimiento:</label>
                                        <div class="input-group date" data-provide="datepicker">
                                            <input type="text" class="form-control">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <p>ATENCION: Lea atentamente la información que se le ha presentado y verifique que no hay ningún error antes de continuar.<p>		                                                                                 
                                    <br>
                                    <div class="form-group">
                                        <div class="col-xs-offset-3 col-xs-9">
                                            <input type="submit" class="btn btn-primary" value="Enviar">
                                            <input type="reset" class="btn btn-default" value="Limpiar">
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modalIniciativa">
            <div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<!-- Project Details Go Here -->
                                <h2>Registro iniciativa ciudadana</h2>								
                                <form class="form-horizontal">								    
									<div class="form-group">
                                        <label class="control-label col-xs-3">Titulo:</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" id="inputTitulo" placeholder="Titulo">
                                        </div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-3">Descripción:</label>
                                        <div class="col-xs-9">
                                            <textarea rows="3" class="form-control" placeholder="Descripcion"></textarea>
                                        </div>
                                    </div>															
									<div class="form-group">
                                        <label class="control-label col-xs-3">F. de Nacimiento:</label>
                                        <div class="input-group date" data-provide="datepicker">
                                            <input type="text" class="form-control">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>			                                                                                 
                                    <br>
                                    <div class="form-group">
                                        <div class="col-xs-offset-3 col-xs-9">
                                            <input type="submit" class="btn btn-primary" value="Enviar">
                                            <input type="reset" class="btn btn-default" value="Limpiar">
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="loginService.isAdmin">
        <div id="tab1" [class.hidden]="tabs[0]">			
            <a class="page-scroll portfolio-link" [routerLink]="['CarrouselList']" data-toggle="modal">Modificar imagenes carrousel</a><br>
			<a class="page-scroll portfolio-link" href="#ModificacionFondo" data-toggle="modal">Modificar imagen de fondo del ayuntamiento</a><br>
			
        </div>
        <div id="tab2" [class.hidden]="tabs[1]">
            <a class="page-scroll portfolio-link" [routerLink]="['AdminNews']">Modificar noticias del ayuntamiento</a><br>
			<a class="page-scroll portfolio-link" [routerLink]="['AdminActas']">Modificar actas</a><br>
			
        </div>
        <div id="tab3">
            
        </div>
        <div id="tab4">
		
        </div>
    </div>
		
    
    
    
    
    
    
    <div class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modalCentroDeportivo">
		<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2>Centro deportivo municipal</h2>
								<form class="form-horizontal" name="formularioDeportivo">								    
									<div class="form-group">
                                        <label class="control-label col-xs-3">Distrito:</label>
                                        <div class="col-xs-9">
                                            <select class="form-control" id="Distrito" OnChange="Cambiar(this.value)">
												<option value="valor">--Seleccione un distrito--</option>
												<option value="centro">Centro</option>
												<option value="arganzuela">Arganzuela</option>
												<option value="retiro">Retiro</option>
												<option value="salamanca">Salamanca</option>
												<option value="chamartin">Chamartín</option>
												<option value="tetuan">Tetuán</option>
												<option value="chamberi">Chamberí</option>
												<option value="fuencarral-elPardo">Fuencarral - El Pardo</option>
												<option value="moncloa-aravaca">Moncloa - Aravaca</option>
												<option value="latina">Latina</option>
												<option value="carabanchel">Carabanchel</option>
												<option value="usera">Usera</option>
												<option value="puenteDeVallecas">Puente de Vallecas</option>
												<option value="moratalaz">Moratalaz</option>
												<option value="ciudadLineal">Ciudad Lineal</option>
												<option value="hortaleza">Hortaleza</option>
												<option value="villaverde">Villaverde</option>
												<option value="villaDeVallecas">Villa de Vallecas</option>
												<option value="vicalvaro">Vicálvaro</option>
												<option value="sanBlas-canillejas">San Blás - Canillejas</option>
												<option value="barajas">Barajas</option>
											</select>
                                        </div>
										<label class="control-label col-xs-3">Centro Deportivo:</label>
                                        <div class="col-xs-9">
                                            <select class="form-control" name="CentroDeportivo" id="CentroDeportivo" OnChange="Cambiar1(this.value)">
												<option>--Seleccione un Centro Deportivo--</option>												
											</select>
                                        </div>
										<label class="control-label col-xs-3">Actividad:</label>
                                        <div class="col-xs-9">
                                            <select class="form-control" name="Actividad" id="Actividad">
												<option>--Seleccione una actividad--</option>												
											</select>
                                        </div>
									</div>
									<div class="form-group">
                                        <div class="col-xs-offset-3 col-xs-9">
                                            <input type="submit" class="btn btn-primary" value="Enviar">
                                            <input type="reset" class="btn btn-default" value="Limpiar" OnClick="limpiar()">
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>